<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css')}}">
    <meta charset="UTF-8">
    <title>Welcome to the Management System</title>
</head>
<body>
    <h1>Welcome to the Management System</h1>
    <nav>
        <ul>
        <li><a href="/show_table">Show Table</a></li>
        <li><a href="/add_suppliers">Add New Supplier</a></li>
        <li><a href="/annual-expenses">Annual Expenses for Parts</a></li>
	<li><a href="/budget-projection">Budget Projection</a></li>
    </ul>
</body>
</html>
